 #title {
    padding-left: 10px;
  }
  .button-med-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 18.72px;
    cursor: pointer;

  }

  .button-med-green:hover {
    background-color: #69B578;
  }

  .button-med-green:active {
    background-color: #99D5C9;
  }

  .button-med-green:focus {
    outline: #0D1F22;
  }

  body {
	font-family: "PT Sans", sans-serif;
}

#TabBar {
	background-color: #78CB95;
	font-size: 1.2em;
	position: fixed;
	right: 0;
  top: 0;
	width: 100vw;
	height: 80px;
	text-align: right;
	color: white;
  z-index: 999;
}

#TabBar a {
  color: white;
  text-decoration: none;
}

li {
	display: inline;
	padding: 1em;
  position: relative;
  top: .5em;
  right: 1.5em;
}

li:hover {
  color: #006B34;
  cursor: pointer;
}

#logo {
	height: 3em;
	width: 5em;
  position: fixed;
	left: 1em;
  top: .3em;
}

#login {
	height: 1.19em;
	width: 1.1em;
  position: fixed;
	right: 1.3em;
  top: 1.45em;
}


.event-card {
  width: 95%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0;
  height: 60%;
}

.event-card > div  {
  background-color: #99D5C9;
  padding: 25px;
}

.event-content-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.event-content-left > img {
  margin-top: 15px;
}

.event-content-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

}

.logo {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 20px;
  height: 800px;
  padding-left: 50px;
  padding-top: 50px;
}

.header {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
}
.main_page_Text {
  display: grid;
  grid-row-start: 3;
  grid-column: 1;

}

.main_page_pic {
  display: grid;
  grid-row-start: 3;
  grid-column: 2;

}

.contact1 {
  display: grid;
  grid-row-start: 4;
  grid-column: 1;
}

.contact2 {
  display: grid;
  grid-row-start: 3;
  grid-column: 3;
}

.contact3 {
  display: grid;
  grid-row-start: 3;
  grid-column: 4;
}

#add-event {
  display: grid;
  grid-column-start: 5;
  margin-top: 60px;
  height: 50px;
  width: 150px;
  font-size: 15px;
  text-align: center;
}

.form-button {
  padding-bottom: 10px;
  text-align: center;
}

/* Below is everything needed for the form */

.transition, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}


form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 700px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
form h1 {
  color: #006B34;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

form .question {
  position: relative;
  padding: 15px 0;
}
form .question:first-of-type {
  padding-top: 30px;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color: #69B578;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid #B7D3F2;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #B7D3F2;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="text"]:focus {
  outline: none;
  background: #B7D3F2;
  color: white;
  margin-top: 30px;
}
form .question input[type="text"]:valid {
  margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
form .question .attend{
    margin-top: 25px;
    font-size: 17px;
    margin-bottom: 0px;

  }

  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 14px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
    left: 5px;
    align-self: center;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  label.container{
  color: #69B578;
  font-size: 17px;
  font-family: "PT Sans";
  }

#return-to-events {
  height: 45px;
}

#submit {
  width: 100px;
  height: 60px;
}
/* Stylesheet for the specifc events page */

#specifc-event-name{
  font-family: "PT Sans";
  font-size: 50pt;
  color:black ;
  text-align: center;
  }

  #event-info{
    font-family: "PT Sans";
  font-size: 25pt;
  color: #57585b
  }


  h1{
    font-family: "PT Sans";
    font-size: 40pt;
    color: #333333;
    }

    h2{
      font-family: "PT Sans";
    font-size: 25pt;
    color:#57585b;

    }



  h3{
    font-family: "PT Sans";
  font-size: 20pt;
  color:#57585b;
  }
	p {

    color:#57585b;
    font-family: "PT Sans";
    font-size: 15pt;

    }

  .content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 120px (2fr, auto) (2fr, auto) 2fr;
    grid-gap: 30px;
    margin-right: 20px,

  }

  .Event-name{

    grid-column: 2 / 3;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
    align-items: center, baseline;
    padding-top: 50px;

  }


  .Event{
    grid-column: 1 / 3;
    grid-row: 3/4;
    padding: 10px;
    background-color: #99D5C9;
    margin-left: 30px;
    border-radius: 25px;
  }
  .contact{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #99D5C9;
    border-radius: 25px;
    margin-right: 30px;
    padding-top: 5px;

    inset-inline-start: 40px;

    align-items: center, baseline;
  }

  .contact > p {

padding-left: 30px;

  }


  #contact-info{
    text-align: center;


  }


  #RSVP{
    grid-column-start: 2;
    justify-self: center;
    margin-left: 100px;
    margin-bottom: 20px;



  }

  .four{
    grid-column: 1 / 4;
    grid-row: 4/ 5;
    text-align: center;
  }


  #event-information{

    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding-right: 20px;

  }

  .image{

    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    height: 18em;
    width: 30em;
    padding-left: 30px;
    justify-items: center;

  }

  .info-text{

    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
    font-family: "PT Sans";
    font-size: 20pt;

  }

  /* google map (specific events) Set size of the div element that contains the map */

  #map {
  height: 200px;  /* The height is 400 pixels */
  width: 100%px;  /* The width is the width of the web page   */
  padding: 20px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  }

.upcoming-events-card {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0;
}

.upcoming-events-card > div  {
    background-color: #99D5C9;
    padding: 25px;
    height: 100px;
}

.upcoming-content-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.upcoming-content-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
