

<div class="grid-container">

    <title>General Events</title>
    <!-- Links stylesheets from the stylesheet, fonts, animation libraries -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <meta charset="utf-8">

    <div class="main_page_Text">
        <h4> Basking Ridge Business Alliance </h4>

        <p> The Basking Ridge Business Alliance is a non-profit organization of local business people and residents.

            Our vision is to successfully promote business prosperity and a healthy community in Basking Ridge. Our mission
            is to focus on helping businesses and the community work together, nurturing positive growth and interaction, and to
            preserve those unique qualities that make Basking Ridge a special place in which to live and work.

        </p>

    </div>
    <div class="main_page_pic">
        <div class="event-content-right">
            <img class="image" src="http://www.ridgebusiness.org/Assets/membership/coldwell_banker_bldg.jpg">
        </div>

    </div>

    <div class="contact1">
        <div class="event-card">
            <div class="events-content-left">
                <img class="logo" src="https://img.icons8.com/ios/420/instagram-new.png">
            </div>
            <div class="events-content-centre">
                <h2 id="event-name1"><b> Contact Information </b></h2>
                <p id="date-and-time1"> Such Interesting </p>
                <p id="location1"> Very wow </p>
            </div>
            <div class="events-content-right">
                <p id="desc1"> Join the BRBA!!! </p>
            </div>
        </div>

        <div class="contact2">
            <div class="upcoming-events-card">

                <div class="upcoming-content-left">
                   <p> Great Event!!</p>
                </div>
                <div class="upcoming-content-right">
                    <p id="desc1"> Pl0x come! </p>
                </div>
            </div>
        </div>

            <div class="contact3">
                <div class="upcoming-events-card">
                    <div class="upcoming-content-left">
                        <p> Great Event!!</p>
                    </div>
                    <div class="upcoming-content-right">
                        <p id="desc1"> Pl0x come! </p>
                    </div>
                </div>
            </div>
    </div>


</div>

