/*This is necessary as a temp fix. The current form does not use the main stylesheet */
.button-small-green {
  background-color: #006B34;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: none;
  transition: background-color 0.2s;
  font-size: 16px;
  cursor: pointer;
}

.button-small-green:hover {
  background-color: #69B578;
}

.button-small-green:active {
  background-color: #99D5C9;
}

.button-small-green:focus {
  outline: #0D1F22;
}
/* End of temp fix */
body {
    background-color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    color: #333;
    display: flex;
    justify-content: center;
    padding-top: 135px;
  }
  
  textarea {
      resize: none;
  }
  
  h1 {
    font-weight: 300;
  }
  
  main {
    align-self: center;
    /* The code below is commented out to ensure that the form looks consistent on mobile and desktop 
    background-color: #fefefe;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.5); */
    min-width: 350px;
    max-width: 750px;
    width: 700vw;
    height: 68vw;
    padding: 2rem;
  }
  main .form-buttons {
  
    display: flex;
    justify-content: flex-end;
    padding: 1em 0 0 0;
  }
  main .form-buttons button {
    margin-left: 16px;
  }
  
  .form-field {  
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
  }
  .form-field:last-child {
    margin-bottom: 0;
  }
  .form-field .icon {
    align-self: center;
    fill: #2980b9;
    padding: .5em .5em;
  }
  .form-field label {
    align-self: center;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
  }
  @media (min-width: 768px) {
    .form-field label {
      flex-basis: 80px;
      width: 80px;
    }
  }
  .form-field > section {
    border: 1px solid #aaa;
    border-radius: 3px;
    display: flex;
    flex: 1;
  }
  .form-field > section input {
    border: 0;
    border-left: 1px solid #ccc;
    flex-grow: 1;
    font-size: 1.1rem;
    font-weight: 300;
    padding: .35em .5em;
  }
  
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  
  .a-btn, .a-btn--filled {
    padding: .35em 1em;
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: #fff;
    transition: all 146ms ease;
    font-size: 1.2rem;
    border-radius: 3px;
    color: #3498db;
  }
  .a-btn:enabled:hover, .a-btn--filled:enabled:hover {
    background-color: #3498db;
    color: #fff;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  }
  .a-btn--filled {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
  }
  .a-btn--filled:enabled:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  .a-btn:disabled, .a-btn--filled:disabled {
    background-color: #ecf0f1;
    border-color: #bdc3c7;
    color: #6a6a6a;
  }
  
  /* add a red asterisk after required labels 
   without having to include it in the markup */
  .label--required:after {
    content: '*';
    color: red;
    margin-left: 5px;
  }