.tag{
    color:#5FB3FC;
    padding: 10px;
    margin: 10px;
    background-color:#F1F9FF;
    border-style: solid;
    border-color:#D1EBFB;
    border-radius: 10px;
    font-size: 15px;
    font-family: "PT Sans";
}
.tag:hover {
      cursor: pointer;
      color: #0D1F22;
      
}

.tagTwo{
    color:#99D5C9;
    padding: 20px;
    margin: 30px;
    background-color: #69B578; 
    border-style: solid;
    border-color:#006B34;
    border-radius: 20px;
    font-size: 30px;
    font-family: "PT Sans";
}

.tagTwo:hover{
    cursor: pointer;
}

.tagThree{
    color: #69B578;
    padding: 5px;
    margin: 5px;
    background-color: #B7D3F2;
    border-style: solid;
    border-color: #0D1F22;
    border-radius: 5px;
    font-size: 10px;
    font-family: "PT Sans";
}

.tagThree:hover{
    cursor: pointer;
}


div.round1 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round1 {
    background-color: #99d9c5;
}
div.round1 {
    max-width:335px;
    margin: 10px;
    border: 55px solid #99d9c5;
}

div.round2 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round2 {
    background-color: #99d9c5;
}
div.round2 {
    max-width:350px;
    margin: 10px;
    border: 150px solid #99d9c5;
}

div.round3 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round3 {
    background-color: #99d9c5;
}
div.round3 {
    max-width:500px;
    margin: 10px;
    border: 50px solid #99d9c5;
}

div.round4 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round4 {
    background-color: #99d9c5;
}
div.round4 {
    max-width:345px;
    margin: 10px;
    border: 27px solid #99d9c5;
}

div.round5 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}

div.round5 {
    background-color: #99d9c5;
}
div.round5 {
    max-width:665px;
    margin: 10px;
    border: 65px solid #99d9c5;
}

/*
  Button CSS Styles w/ defined usage
  BRBA Project
*/

/*
  Small Green Button Style
  Text is size of p element default
  Use for:
    - Add an Event
    - RSVP
    - Upload Logo
    - Upload Flyer
    - Search
    - Apply
*/
.button-small-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 16px;
    cursor: pointer;
}

.button-small-green:hover {
    background-color: #69B578;
}

.button-small-green:active {
    background-color: #99D5C9;
}

.button-small-green:focus {
    outline: #0D1F22;
}

/*
  Medium Green Button Style
  Text is size of h3 element default
  Use for:
    - Return to Event Page
*/
.button-med-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 18.72px;
    cursor: pointer;

}

.button-med-green:hover {
    background-color: #69B578;
}

.button-med-green:active {
    background-color: #99D5C9;
}

.button-med-green:focus {
    outline: #0D1F22;
}

/*
  Large Green Button Style
  Text is same size as h2 element default
  Use for:
    - Add an Event
    - RSVP
*/

.button-large-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 24px;
    cursor: pointer;
}

.button-large-green:hover {
    background-color: #69B578;
}

.button-large-green:active {
    background-color: #99D5C9;
}

.button-large-green:focus {
    outline: #0D1F22;
}

/*
  Small Clear Button Style
  Use for:
    - TBD
*/
.button-small-clear {
    background-color: #ffffff00;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: #0D1F22;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.button-small-clear:hover {
    background-color: #99D5C950;
}

.button-small-clear:active {
    background-color: #99D5C9;
}

.button-small-clear:focus {
    outline: #0D1F22;
}

/*
  Medium Clear Button Style
  Use for:
    - Add an event on bulletin board
*/

.button-med-clear {
    background-color: #ffffff00;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: #0D1F22;;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 18.72px;
    font-weight: bold;
    cursor: pointer;
}

.button-med-clear:hover {
    background-color: #99D5C950;
}

.button-med-clear:active {
    background-color: #99D5C9;
}

.button-med-clear:focus {
    outline: #0D1F22;
}

/*
  Large Clear Button Style
  Use for:
    - TBD
*/

.button-large-clear {
    background-color: #ffffff00;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: #0D1F22;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.button-large-clear:hover {
    background-color: #99D5C950;
}

.button-large-clear:active {
    background-color: #99D5C9;
}

.button-large-clear:focus {
    outline: #0D1F22;
}

/* Event cards */

img {
    width: 100px;
    border-radius: 25px;
}

.event-card-changed {
  width: 95%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0;
}

.event-card-changed > div  {
  background-color: #99D5C9;
  padding: 25px;
}

.events-content-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.events-content-left > img {
  margin-top: 15px;
}

.events-content-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.logo {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 20px;

  padding-left: 50px;

}

.header {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
}

.events-card-1 {
  display: grid;
  grid-row-start: 3;
  grid-column: 2;
}

.events-card-2 {
  display: grid;
  grid-row-start: 4;
  grid-column: 2;
}

.events-card-3 {
  display: grid;
  grid-row-start: 5;
  grid-column: 2;
}

#add-event {
  display: grid;
  grid-column-start: 5;
  justify-self: last baseline;
  height: 50px;
  width: 150px;
  margin-top: 14px;
  padding-top: 13px;
  font-size: 15px;
}

.form-button {
  padding-bottom: 10px;
  text-align: center;
}

  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 14px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #69B578;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
    left: 5px;
    align-self: center;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  label.container{
  color: #69B578;
  font-size: 17px;
  font-family: "PT Sans";
  }

#return-to-events {
  height: 45px;
}

#submit {
  width: 100px;
  height: 60px;
}

/* Upcoming event cards */
.upcoming-events-card {
    margin: 1em;
}

.upcoming-events-card > img {
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.upcoming-content-left {
    height: 3em;
    background: #99D5C9;
    width: 4em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.upcoming-content-right {
    background: #99D5C9;
    width: 12em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -4px;
    height: 3em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logo {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.top {
    margin-top: 1px;
    margin-left: 80px;
    padding-top: 4px;
}




.business-card {
    margin: 1em;
}

.business-card > img {
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.business-content-left {
    height: 9em;
    background: #99D5C9;
    width: 7.5em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.business-content-centre {
    background: #99D5C9;
    width: 37em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -4px;
    height: 9em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.line-break {
    border: 0;
    border-bottom: 15px;
    margin-bottom: 15px;
    height: 0;
    border-top: 3px solid black;
}

.business-tag {
    background-color: #006B34;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 25px;
}

.dialog
{
    background-color: rgba(183,211,242,0.7);
    height: 30%;
    width: 50%;
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.dialog_content {
    color: black;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-size: 18px;

}
.dialog_container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
.dialog_close {
    position: absolute;
    top: 0;
    right: 3%;
    color: #006B34;
}
.dialog_close:hover {
    color: #0D1F22;
    cursor: pointer;
    transition: 0.3s;
}

/* forms.css */

  .transition, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

* {
  font-family: PT Sans, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}


form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 700px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
form h1 {
    color: #006B34;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
}
form .question {
    position: relative;
    padding: 10px 0;
}
form .question:first-of-type {
    padding-top: 0;
}
form .question:last-of-type {
    padding-bottom: 0;
}
form .question label {
    transform-origin: left center;
    color: #69B578;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}
form .question input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #B7D3F2;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #B7D3F2;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .question input[type="text"]:focus {
    outline: none;
    background: #B7D3F2;
    color: white;
    margin-top: 30px;
}
form .question input[type="text"]:valid {
    margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}


/* dialog.css */

body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.dialog
{
	background-color: rgba(183,211,242,0.7);
	height: 30%;
	width: 50%;
	border-radius: 25px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}
.dialog_content {
    color: black;
  	position: absolute;
  	left: 50%;
  	top: 45%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	width: 90%;
  	text-align: center;
  	font-size: 18px;

}
.dialog_container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9;
}
.dialog_close {
	position: absolute;
	top: 0;
	right: 3%;
	color: #006B34;
}
.dialog_close:hover {
	color: #0D1F22;
	cursor: pointer;
	transition: 0.3s;
}


/* 
    Rounded Images in CSS
    BRBA project 
*/

/* Primarily for larger rectangles such as the front page image */
.rect-large {
    border-radius: 25px;
    padding: 20px;
    width: 350px;
    height: 225px;
  }

/* Every rectangle aside from the map and the front page image */
.rect-med { 
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 140px;
}

.map { 
    border-radius: 25px;
    padding: 20px;
    width: 500px;
    height: 200px;
  }

/* Standard for logos */
.smallCirc {
    border-radius: 50%;
    padding: 20px;
    width: 150px;
    height: 150px;
}

/* Zoomed-in logos */
.largeCirc { 
    border-radius: 50%;
    padding: 20px;
    width: 260px;
    height: 260px;
}





#TabBar {
    background-color: #78CB95;
    font-size: 1.2em;
    position: fixed;
    right: 0;
  top: 0;
    width: 100vw;
    height: 80px;
    text-align: right;
    color: white;
  z-index: 999;
}
#TabBar li > a {
    color: white;
    text-decoration: none;
}
#TabBar li {
    display: inline;
    padding: 1em;
    position: relative;
    top: .5em;
    right: 1.5em;
}

#TabBar a:hover{
  color: #006B34;
  cursor: pointer;
  transition: 0.5s;
}

li {
	display: inline;
	padding: 1em;
  position: relative;
  top: .5em;
  right: 1.5em;
}

li:hover {
  color: #006B34;
  cursor: pointer;
}

#logo {
    height: 3em;
    width: 5em;
  position: fixed;
    left: 1em;
  top: .3em;
}

#login {
    height: 1.19em;
    width: 1.1em;
  position: fixed;
    right: 1.3em;
  top: 1.45em;
}


.red {
   	color: red;
   }



/* searchbar.css */
*
{
    outline: none;
}

html,body
{
    height: 100%;
    min-height: 100%;
    overflow:auto
}

body
{
    margin: 0;
    background-color:   #d0ece7;
}


.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: PT Sans;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #117a65;
    border-radius: 80px;
    box-shadow: 0 10px 40px  #73c6b6, 0 0 0 20px #ffffffeb;
}

form
{
    height: 96px;
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #fff00;
}

#s-cover
{
    width: 1px;
    padding-left: 3px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd_link
{
  position:fixed;
  top:10px;
  right:10px;
  padding:8px 10px;
  color:#fff;
  font-size:14px;
  font-family: Helvetica;
  text-align:center;
  text-decoration:none;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 2px #fff;
}

#ytd_link i
{
  margin-right:5px;
}


/*stylsheet.css */

 .content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 120px (2fr, auto) (2fr, auto) 2fr;
    grid-gap: 30px;
    margin-right: 20px,

  }

  .Event-name{

    grid-column: 2 / 3;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
    align-items: center, baseline;
    padding-top: 50px;

  }


  .Event{
    grid-column: 1 / 3;
    grid-row: 3/4;
    padding: 10px;
    background-color: #99D5C9;
    margin-left: 30px;
    border-radius: 25px;
  }
  .contact{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #99D5C9;
    border-radius: 25px;
    margin-right: 30px;
    padding-top: 5px;

    inset-inline-start: 40px;

    align-items: center, baseline;
  }

  .contact > p {

padding-left: 30px;

  }


  #contact-info{
    text-align: center;


  }


  #RSVP{
    grid-column-start: 2;
    justify-self: center;
    margin-left: 100px;
    margin-bottom: 20px;



  }

  .four{
    grid-column: 1 / 4;
    grid-row: 4/ 5;
    text-align: center;
  }


  #event-information{

    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding-right: 20px;

  }

  .image{

    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    height: 3em;
    width: 5em;
    padding-left: 20px;
    justify-items: center;

  }

  .info-text{

    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
    font-family: "PT Sans";
    font-size: 20pt;

  }

  /* google map (specific events) Set size of the div element that contains the map */

  #map {
  height: 200px;  /* The height is 400 pixels */
  width: 100%px;  /* The width is the width of the web page   */
  padding: 20px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  }




/* textstyles.css */


  .foo {
    float: center;
    width: 50px;
    height: 10px;
    margin: 5px;
    border: 50px solid #99D5C9;
  }

  h1 { font-family: "PT Sans";
  font-size: 55px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
  color: #0D1F22;



  }


  h2{
  color: white;
  font-family: "PT Sans Narrow";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  background-color: #99D5C9;
  }

  h3{
  color:#99D5C9;
  font-family: "PT Serif";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  }

   h4{
  color: #006B34;
  font-family: "PT Sans Narrow";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  }

  p{

  color: #0D1F22;
  font-family: "PT Sans;"
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;


  }


/* index.css from Help_wanted folder */


main {
  align-self: center;
  background-color: #fefefe;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.5);
  min-width: 350px;
  max-width: 750px;
  width: 700vw;
  height: 42vw;
  padding: 2rem;
}
main .form-buttons {

  display: flex;
  justify-content: flex-end;
  padding: 1em 0 0 0;
}
main .form-buttons button {
  margin-left: 16px;
}

.form-field {
  @include 'index.css';

  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5em;
}
.form-field:last-child {
  @include 'index.css';
  margin-bottom: 0;
}
.form-field .icon {
  @include 'index.css';
  align-self: center;
  fill: #2980b9;
  padding: .5em .5em;
}
.form-field label {
  @include 'index.css';
  align-self: center;
  flex-shrink: 0;
  flex-basis: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .form-field label {
    flex-basis: 80px;
    width: 80px;
  }
}
.form-field > section {
  @include 'index.css';
  border: 1px solid #aaa;
  border-radius: 3px;
  display: flex;
  flex: 1;
}
.form-field > section input {
  @include 'index.css';
  border: 0;
  border-left: 1px solid #ccc;
  flex-grow: 1;
  font-size: 1.1rem;
  font-weight: 300;
  padding: .35em .5em;
}

.icon {
  @include 'index.css';
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.a-btn, .a-btn--filled {
  @include 'index.css';
  padding: .35em 1em;
  box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 1px solid #3498db;
  background-color: #fff;
  transition: all 146ms ease;
  font-size: 1.2rem;
  border-radius: 3px;
  color: #3498db;
}
.a-btn:enabled:hover, .a-btn--filled:enabled:hover {
  @include 'index.css';
  background-color: #3498db;
  color: #fff;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}
.a-btn--filled {
  @include 'index.css';
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}
.a-btn--filled:enabled:hover {
  @include 'index.css';
  background-color: #2980b9;
  border-color: #2980b9;
}
.a-btn:disabled, .a-btn--filled:disabled {
  @include 'index.css';
  background-color: #ecf0f1;
  border-color: #bdc3c7;
  color: #6a6a6a;
}

/* add a red asterisk after required labels
 without having to include it in the markup */
.label--required:after {
  @include 'index.css';
  content: '*';
  color: red;
  margin-left: 5px;
}


/* stylsheet.css from the Help_Wanted folder */

 #title {
    padding-left: 10px;
  }
  .button-med-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 18.72px;
    cursor: pointer;

  }

  .button-med-green:hover {
    background-color: #69B578;
  }

  .button-med-green:active {
    background-color: #99D5C9;
  }

  .button-med-green:focus {
    outline: #0D1F22;
  }

  body {
	font-family: "PT Sans", sans-serif;
}

#TabBar {
	background-color: #78CB95;
	font-size: 1.2em;
	position: fixed;
	right: 0;
  top: 0;
	width: 100vw;
	height: 80px;
	text-align: right;
	color: white;
  z-index: 999;
}

#TabBar a {
  color: white;
  text-decoration: none;
}

li {
	display: inline;
	padding: 1em;
  position: relative;
  top: .5em;
  right: 1.5em;
}

li:hover {
  color: #006B34;
  cursor: pointer;
}

#logo {
	height: 3em;
	width: 5em;
  position: fixed;
	left: 1em;
  top: .3em;
}

#login {
	height: 1.19em;
	width: 1.1em;
  position: fixed;
	right: 1.3em;
  top: 1.45em;
}


.event-card {
  width: 95%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0;
  height: 60%;
}

.event-card > div  {
  background-color: #99D5C9;
  padding: 25px;
}

.event-content-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.event-content-left > img {
  margin-top: 15px;
}

.event-content-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

}

.logo {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 20px;
  height: 800px;
  padding-left: 50px;
  padding-top: 50px;
}

.header {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
}
.events-card-1 {
  display: grid;
  grid-row-start: 3;
  grid-column: 2;

}

.events-card-2 {
  display: grid;
  grid-row-start: 4;
  grid-column: 2;

}

.events-card-3 {
  display: grid;
  grid-row-start: 5;
  grid-column: 2;
}

#add-event {
  display: grid;
  grid-column-start: 5;
  margin-top: 60px;
  height: 50px;
  width: 150px;
  font-size: 15px;
  text-align: center;
}

.form-button {
  padding-bottom: 10px;
  text-align: center;
}

/* Below is everything needed for the form */

.transition, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}


form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 700px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
form h1 {
  color: #006B34;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

form .question {
  position: relative;
  padding: 15px 0;
}
form .question:first-of-type {
  padding-top: 30px;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color: #69B578;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid #B7D3F2;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #B7D3F2;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="text"]:focus {
  outline: none;
  background: #B7D3F2;
  color: white;
  margin-top: 30px;
}
form .question input[type="text"]:valid {
  margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
form .question .attend{
    margin-top: 25px;
    font-size: 17px;
    margin-bottom: 0px;

  }

  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 14px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
    left: 5px;
    align-self: center;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  label.container{
  color: #69B578;
  font-size: 17px;
  font-family: "PT Sans";
  }

#return-to-events {
  height: 45px;
}

#submit {
  width: 100px;
  height: 60px;
}
/* Stylesheet for the specifc events page */

#specifc-event-name{
  font-family: "PT Sans";
  font-size: 50pt;
  color:black ;
  text-align: center;
  }

  #event-info{
    font-family: "PT Sans";
  font-size: 25pt;
  color: #57585b
  }


  h1{
    font-family: "PT Sans";
    font-size: 40pt;
    color: #333333;
    }

    h2{
      font-family: "PT Sans";
    font-size: 25pt;
    color:#57585b;
    text-align: center;

    }



  h3{
    font-family: "PT Sans";
  font-size: 20pt;
  color:#57585b;
  }
	p {

    color:#57585b;
    font-family: "PT Sans";
    font-size: 15pt;

    }

  .content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 120px (2fr, auto) (2fr, auto) 2fr;
    grid-gap: 30px;
    margin-right: 20px,

  }

  .Event-name{

    grid-column: 2 / 3;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
    align-items: center, baseline;
    padding-top: 50px;

  }


  .Event{
    grid-column: 1 / 3;
    grid-row: 3/4;
    padding: 10px;
    background-color: #99D5C9;
    margin-left: 30px;
    border-radius: 25px;
  }
  .contact{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #99D5C9;
    border-radius: 25px;
    margin-right: 30px;
    padding-top: 5px;

    inset-inline-start: 40px;

    align-items: center, baseline;
  }

  .contact > p {

padding-left: 30px;

  }


  #contact-info{
    text-align: center;


  }


  #RSVP{
    grid-column-start: 2;
    justify-self: center;
    margin-left: 100px;
    margin-bottom: 20px;



  }

  .four{
    grid-column: 1 / 4;
    grid-row: 4/ 5;
    text-align: center;
  }


  #event-information{

    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding-right: 20px;

  }

  .image{

    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    height: 3em;
    width: 5em;
    padding-left: 20px;
    justify-items: center;

  }

  .info-text{

    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
    font-family: "PT Sans";
    font-size: 20pt;

  }

  /* google map (specific events) Set size of the div element that contains the map */

  #map {
  height: 200px;  /* The height is 400 pixels */
  width: 100%px;  /* The width is the width of the web page   */
  padding: 20px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  }


  /* home page css */
.main_page_Text {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
}

.main_page_pic {
  display: grid;
  grid-row-start: 1;
  grid-column: 2;
}

.contact_info {
  display: grid;
  grid-row-start: 2;
  grid-column: 1;
}


.home_image {
  width: auto;
  height: auto;
}

.upcome {
  display: grid;
  grid-row-start: 2;
  grid-column: 2;
}

.upcoming1-content-left {
    height: 3em;
    background: #99D5C9;
    width: 10em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.upcoming1-content-right {
    background: #99D5C9;
    width: 6em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -2px;
    height: 3em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.Contact_Information {
  display: grid;
  grid-row-start: 3;
  grid-column: 1;
}

